<app-user-snippet></app-user-snippet>

<div class="relative top-[160px] md:top-[125px] mx-20 pb-[45px]">
    <h1 class="text-2xl font-revalia text-white-base bg-orange p-[8px] rounded-lg">
        Modifier mon profil
    </h1>

    <div class="flex flex-wrap justify-evenly mt-[16px]">
        <img src="{{avatarPreview()}}" alt="Avatar - Prévisualisation" class="size-[150px] rounded-sm inline">

        <input type="text" class="bg-white-base text-black h-fit p-2 rounded" [(ngModel)]="avatar"
            (ngModelChange)="onAvatarInputChange($event)" placeholder="URL de l'avatar" />

        <input type="text" class="bg-white-base text-black h-fit p-2 rounded" [(ngModel)]="username"
            placeholder="Nom d'utilisateur" />

        <input type="email" class="bg-white-base text-black h-fit p-2 rounded" [(ngModel)]="email"
            placeholder="Email" />

        <input type="password" class="bg-white-base text-black h-fit p-2 rounded" [(ngModel)]="password"
            placeholder="Mot de passe" />

        <button (click)="onSubmit()" class="bg-orange p-2 rounded text-white">
            Enregistrer les modifications
        </button>
    </div>
</div>