.bannerMobile {
    height: calc(100vh - 211px);
}

.btn {
    width: 150px;
    height: 30px;
    font-size: 16px;
}

.lucide-ChevronDown {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}