<app-navbar-admin></app-navbar-admin>

<div class="relative top-[240px] md:top-[160px] mx-20 pb-[45px] text-white-base">
    <h1 class="text-2xl font-revalia bg-orange p-[8px] rounded-lg">
        Résumé des tâches complétées
    </h1>

    <div class="my-[32px]">
        <span class="inline-block w-fit px-[16px] py-[4px] rounded-lg bg-blue text-xl font-revalia me-[8px]">
            Tâches complétées
        </span>
        {{tasksCount.total_completed}}
    </div>

    <div class="my-[32px]">
        <span class="inline-block w-fit px-[16px] py-[4px] rounded-lg bg-blue text-xl font-revalia me-[8px]">
            Tâches complétées en <i>écriture</i>
        </span>
        {{tasksCount.completed_by_type.writing}}
    </div>

    <div class="my-[32px]">
        <span class="inline-block w-fit px-[16px] py-[4px] rounded-lg bg-blue text-xl font-revalia me-[8px]">
            Tâches complétées en <i>dessin</i>
        </span>
        {{tasksCount.completed_by_type.drawing}}
    </div>

    <div class="my-[32px]">
        <span class="inline-block w-fit px-[16px] py-[4px] rounded-lg bg-blue text-xl font-revalia me-[8px]">
            Tâches complétées en <i>lecture</i>
        </span>
        {{tasksCount.completed_by_type.reading}}
    </div>

    <h1 class="text-2xl font-revalia bg-orange p-[8px] rounded-lg">
        5 derniers utilisateurs enregistrés
    </h1>

    <div class="flex flex-wrap justify-between mt-[32px]">
        @for(lastUser of latestUsers; track lastUser) {
        <div [routerLink]="['/profile', lastUser.u_id]"
            class="inline-flex flex-col w-fit p-[16px] rounded-lg bg-blue text-xl font-revalia me-[8px] cursor-pointer">
            <img src="{{lastUser.u_avatar}}" class="mx-auto size-[40px] rounded-full object-cover"
                alt="Avatar de {{lastUser.u_username}}">
            {{lastUser.u_username}}
        </div>
        }
    </div>
</div>