<app-user-snippet></app-user-snippet>

<div class="relative top-[160px] md:top-[125px] mx-20 pb-[45px]">
    @if(isCatLoading && isSubPostLoading) {
    <div class="text-orange w-full flex justify-center">
        <app-loading></app-loading>
    </div>
    } @else {
    <div class="w-full bg-blue text-white-base rounded px-4 py-2 mb-[24px] flex flex-wrap justify-between">
        <h1 class="text-2xl font-revalia self-center">{{categorieName}}</h1>

        <button class="btn btn-white" routerLink="/forum/new">Nouveau sujet</button>
    </div>

    @for(subject of subjectInThisCategory; track subject) {
    <div
        class="w-9/10 flex flex-wrap justify-between bg-orange text-white-base hover:bg-white-base hover:text-orange rounded-sm mx-auto my-1 px-2 py-1 last:mb-[40px] font-revalia">
        <a routerLink="/forum/subject/{{subject.s_id}}" [state]="{ categoryName: categorieName }">
            {{subject.s_title}}
        </a>
        @if(lastPost[subject.s_id]) {
        <span class="font-helvetica">
            Dernier message :
            {{ lastPost[subject.s_id].p_date | date:'dd/MM/yyyy, HH:mm' }} par
            {{lastPost[subject.s_id].author_username}}
        </span>
        }
    </div>
    }
    }
</div>