<div class="indexBlock absolute w-full top-[160px] md:top-[125px]">
    <div
        class="relative z-2 w-3/4 h-auto md:h-[90%] mb-[80px] md:mb-0 mx-auto p-[25px] rounded bg-black text-white-base">
        <!-- Onglets -->
        <nav class="flex flex-wrap gap-y-5 gap-x-10" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
            <button type="button"
                class="hs-tab-active:bg-blue hs-tab-active:outline-5 hs-tab-active:outline-white-base py-3 px-4 text-center basis-0 grow inline-flex justify-center items-center gap-x-2 bg-orange text-2xl font-revalia rounded active"
                id="equal-width-elements-item-1" aria-selected="true" data-hs-tab="#equal-width-elements-1"
                aria-controls="equal-width-elements-1" role="tab">
                Écriture
            </button>
            <button type="button"
                class="hs-tab-active:bg-blue hs-tab-active:outline-5 hs-tab-active:outline-white-base py-3 px-4 text-center basis-0 grow inline-flex justify-center items-center gap-x-2 bg-orange text-2xl font-revalia rounded"
                id="equal-width-elements-item-2" aria-selected="false" data-hs-tab="#equal-width-elements-2"
                aria-controls="equal-width-elements-2" role="tab">
                Lecture
            </button>
            <button type="button"
                class="hs-tab-active:bg-blue hs-tab-active:outline-5 hs-tab-active:outline-white-base py-3 px-4 text-center basis-0 grow inline-flex justify-center items-center gap-x-2 bg-orange text-2xl font-revalia rounded"
                id="equal-width-elements-item-3" aria-selected="false" data-hs-tab="#equal-width-elements-3"
                aria-controls="equal-width-elements-3" role="tab">
                Dessin
            </button>
        </nav>

        <!-- Cocher pour voir les tâches terminées -->
        <div class="flex flex-wrap mt-3">
            <input type="checkbox" name="taskCompleted" id="taskCompleted" class="hidden" [(ngModel)]="isTaskCompleted"
                (click)="viewTasksCompleted()">

            <label for="taskCompleted" class="cursor-pointer text-orange-500 text-xl me-[10px]">
                @if(isTaskCompleted){
                <i-lucide name="SquareCheck"></i-lucide>
                } @else{
                <i-lucide name="Square"></i-lucide>
                }
            </label>
            <label for="taskCompleted" class="text-base">Montrer les tâches terminées.</label>
        </div>

        <!-- Contenu des onglets -->
        <div class="mt-3 h-4/5 overflow-auto scrollbar scrollbar-thin scrollbar-thumb-orange scrollbar-track-orange/00">
            <div id="equal-width-elements-1" role="tabpanel" aria-labelledby="equal-width-elements-item-1">
                @if(isWritingTaskLoading) {
                <div class="w-full flex justify-center">
                    <app-loading></app-loading>
                </div>
                } @else {
                @for(writingTask of tasksWriting; track writingTask){
                <div class="flex flex-wrap justify-between items-center w-full h-[130px] bg-blue rounded text-base px-[20px] mb-[15px]"
                    [ngClass]="{'last:mb-0': !viewCompletedTasks}">
                    {{ writingTask.w_name }}
                    <div class="flex flex-wrap items-center">
                        <span class="h-fit text-2xl font-revalia me-3">+{{ writingTask.w_exp}} XP</span>
                        <button type="button" class="py-3 px-4 inline-flex items-center" aria-haspopup="dialog"
                            aria-expanded="false" [attr.aria-controls]="'hs-basic-modal-w' + writingTask.w_id"
                            [attr.data-hs-overlay]="'#hs-basic-modal-w' + writingTask.w_id">
                            <i-lucide name="Circle" [size]="75"></i-lucide>
                        </button>

                        <div [id]="'hs-basic-modal-w' + writingTask.w_id"
                            class="hs-overlay hidden size-full fixed flex flex-wrap content-center top-0 start-0 backdrop-blur-xs z-60 overflow-x-hidden overflow-y-auto pointer-events-none"
                            role="dialog" tabindex="-1" aria-labelledby="hs-unstyled-modal-label">
                            <div
                                class="h-fit hs-overlay-open:opacity-100 hs-overlay-open:duration-500 opacity-0 transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
                                <div
                                    class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
                                    <div
                                        class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700">
                                        <h3 id="hs-basic-modal-label" class="font-bold text-gray-800 dark:text-white">
                                            {{ writingTask.w_name }}
                                        </h3>
                                        <button type="button"
                                            class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                                            aria-label="Close"
                                            [attr.data-hs-overlay]="'#hs-basic-modal-w' + writingTask.w_id">
                                            <span class="sr-only">Fermer</span>
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 6 6 18"></path>
                                                <path d="m6 6 12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="p-4 overflow-y-auto">
                                        <p class="mt-1 text-gray-800 dark:text-neutral-400">
                                            {{ writingTask.w_description }}
                                        </p>
                                    </div>
                                    <div
                                        class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200 dark:border-neutral-700">
                                        <button type="button"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                                            [attr.data-hs-overlay]="'#hs-basic-modal-w' + writingTask.w_id">
                                            Fermer
                                        </button>
                                        <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                                            (click)="validateTask(writingTask.w_id, 'writing')">
                                            Valider la tâche
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

                @if(viewCompletedTasks) {
                @for(writingCompletedTask of tasksCompletedWriting; track writingCompletedTask){
                <div
                    class="flex flex-wrap justify-between items-center w-full h-[130px] bg-blue opacity-50 rounded text-base px-[20px] mb-[15px] last:mb-0">
                    {{ writingCompletedTask.w_name }}
                    <div class="flex flex-wrap items-center">
                        <span class="h-fit text-2xl font-revalia me-3">+{{ writingCompletedTask.w_exp}} XP</span>
                        <i-lucide name="CircleCheckBig" class="text-orange" [size]="75"></i-lucide>
                    </div>
                </div>
                }
                }
                }
            </div>
            <div id="equal-width-elements-2" class="hidden" role="tabpanel"
                aria-labelledby="equal-width-elements-item-2">
                @if(isReadingTaskLoading) {
                <div class="w-full flex justify-center">
                    <app-loading></app-loading>
                </div>
                } @else {
                @for(readingTask of tasksReading; track readingTask){
                <div class="flex flex-wrap justify-between items-center w-full h-[130px] bg-blue rounded text-base px-[20px] mb-[15px]"
                    [ngClass]="{'last:mb-0': !viewCompletedTasks}">
                    {{ readingTask.r_name }}
                    <div class="flex flex-wrap items-center">
                        <span class="h-fit text-2xl font-revalia me-3">+{{ readingTask.r_exp}} XP</span>
                        <button type="button" class="py-3 px-4 inline-flex items-center" aria-haspopup="dialog"
                            aria-expanded="false" [attr.aria-controls]="'hs-basic-modal-r' + readingTask.r_id"
                            [attr.data-hs-overlay]="'#hs-basic-modal-r' + readingTask.r_id">
                            <i-lucide name="Circle" [size]="75"></i-lucide>
                        </button>

                        <div [id]="'hs-basic-modal-r' + readingTask.r_id"
                            class="hs-overlay hidden size-full fixed flex flex-wrap content-center top-0 start-0 backdrop-blur-xs z-60 overflow-x-hidden overflow-y-auto pointer-events-none"
                            role="dialog" tabindex="-1" aria-labelledby="hs-unstyled-modal-label">
                            <div
                                class="h-fit hs-overlay-open:opacity-100 hs-overlay-open:duration-500 opacity-0 transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
                                <div
                                    class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
                                    <div
                                        class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700">
                                        <h3 id="hs-basic-modal-label" class="font-bold text-gray-800 dark:text-white">
                                            {{ readingTask.r_name }}
                                        </h3>
                                        <button type="button"
                                            class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                                            aria-label="Close"
                                            [attr.data-hs-overlay]="'#hs-basic-modal-r' + readingTask.r_id">
                                            <span class="sr-only">Fermer</span>
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 6 6 18"></path>
                                                <path d="m6 6 12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="p-4 overflow-y-auto">
                                        <p class="mt-1 text-gray-800 dark:text-neutral-400">
                                            {{ readingTask.r_description }}
                                        </p>
                                    </div>
                                    <div
                                        class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200 dark:border-neutral-700">
                                        <button type="button"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                                            [attr.data-hs-overlay]="'#hs-basic-modal-r' + readingTask.r_id">
                                            Fermer
                                        </button>
                                        <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                                            (click)="validateTask(readingTask.r_id, 'reading')">
                                            Valider la tâche
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

                @if(viewCompletedTasks) {
                @for(readingCompletedTask of tasksCompletedReading; track readingCompletedTask){
                <div
                    class="flex flex-wrap justify-between items-center w-full h-[130px] bg-blue opacity-50 rounded text-base px-[20px] mb-[15px] last:mb-0">
                    {{ readingCompletedTask.r_name }}
                    <div class="flex flex-wrap items-center">
                        <span class="h-fit text-2xl font-revalia me-3">+{{ readingCompletedTask.r_exp}} XP</span>
                        <i-lucide name="CircleCheckBig" class="text-orange" [size]="75"></i-lucide>
                    </div>
                </div>
                }
                }
                }
            </div>
            <div id="equal-width-elements-3" class="hidden" role="tabpanel"
                aria-labelledby="equal-width-elements-item-3">
                @if(isDrawingTaskLoading) {
                <div class="w-full flex justify-center">
                    <app-loading></app-loading>
                </div>
                } @else {
                @for(drawingTask of tasksDrawing; track drawingTask){
                <div class="flex flex-wrap justify-between items-center w-full h-[130px] bg-blue rounded text-base px-[20px] mb-[15px]"
                    [ngClass]="{'last:mb-0': !viewCompletedTasks}">
                    {{ drawingTask.d_name }}
                    <div class="flex flex-wrap items-center">
                        <span class="h-fit text-2xl font-revalia me-3">+{{ drawingTask.d_exp}} XP</span>
                        <button type="button" class="py-3 px-4 inline-flex items-center" aria-haspopup="dialog"
                            aria-expanded="false" [attr.aria-controls]="'hs-basic-modal-d' + drawingTask.d_id"
                            [attr.data-hs-overlay]="'#hs-basic-modal-d' + drawingTask.d_id">
                            <i-lucide name="Circle" [size]="75"></i-lucide>
                        </button>

                        <div [id]="'hs-basic-modal-d' + drawingTask.d_id"
                            class="hs-overlay hidden size-full fixed flex flex-wrap content-center top-0 start-0 backdrop-blur-xs z-60 overflow-x-hidden overflow-y-auto pointer-events-none"
                            role="dialog" tabindex="-1" aria-labelledby="hs-unstyled-modal-label">
                            <div
                                class="h-fit hs-overlay-open:opacity-100 hs-overlay-open:duration-500 opacity-0 transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
                                <div
                                    class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
                                    <div
                                        class="flex justify-between items-center py-3 px-4 border-b border-gray-200 dark:border-neutral-700">
                                        <h3 id="hs-basic-modal-label" class="font-bold text-gray-800 dark:text-white">
                                            {{ drawingTask.d_name }}
                                        </h3>
                                        <button type="button"
                                            class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                                            aria-label="Close"
                                            [attr.data-hs-overlay]="'#hs-basic-modal-d' + drawingTask.d_id">
                                            <span class="sr-only">Fermer</span>
                                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 6 6 18"></path>
                                                <path d="m6 6 12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="p-4 overflow-y-auto">
                                        <p class="mt-1 text-gray-800 dark:text-neutral-400">
                                            {{ drawingTask.d_description }}
                                        </p>
                                    </div>
                                    <div
                                        class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200 dark:border-neutral-700">
                                        <button type="button"
                                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                                            [attr.data-hs-overlay]="'#hs-basic-modal-d' + drawingTask.d_id">
                                            Fermer
                                        </button>
                                        <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                                            (click)="validateTask(drawingTask.d_id, 'drawing')">
                                            Valider la tâche
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }

                @if(viewCompletedTasks) {
                @for(drawingCompletedTask of tasksCompletedDrawing; track drawingCompletedTask){
                <div
                    class="flex flex-wrap justify-between items-center w-full h-[130px] bg-blue opacity-50 rounded text-base px-[20px] mb-[15px] last:mb-0">
                    {{ drawingCompletedTask.d_name }}
                    <div class="flex flex-wrap items-center">
                        <span class="h-fit text-2xl font-revalia me-3">+{{ drawingCompletedTask.d_exp}} XP</span>
                        <i-lucide name="CircleCheckBig" class="text-orange" [size]="75"></i-lucide>
                    </div>
                </div>
                }
                }
                }
            </div>
        </div>
    </div>
</div>