.navBar {
    height: 100vh;
    width: 60%;
}

@media (min-width: 768px) and (max-width:1024px) {

    .navBar {
        width: 45%;
    }
}

.navBar a {
    display: block;
    width: fit-content;
    cursor: pointer;
}

.navBar a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 5px var(--color-orange);
}

.nav-item:not(.active) {
    color: color-mix(in srgb, var(--color-white-base) 50%, transparent);
    transition: 0.5s;
}

.nav-item:not(.active):hover {
    color: var(--color-white-base);
    padding-left: 50px;
}

.nav-item:is(.active) {
    margin-left: 55px;
}

.communityNav .nav-item:is(.active) {
    margin-left: 55px;
}

.conceptNav .nav-item:is(.active):before,
.contactNav .nav-item:is(.active):before {
    content: "";
    border-top: 1px solid;
    position: absolute;
    width: 135px;
    left: -0px;
    margin-top: 20px;
}

.communityNav .nav-item:is(.active):before {
    content: "";
    border-top: 1px solid;
    position: absolute;
    width: 165px;
    right: -0px;
    margin-top: 20px;
}

.communityNav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    right: 0;
}

.communityNav .nav-item:not(.active):hover {
    padding-right: 70px;
}

.communityNav .nav-item {
    margin-right: 20px;
}

.communityNav .nav-item:is(.active) {
    margin-right: 75px;
}

.communityNav a:focus-visible {
    box-shadow: 0 0 0 5px var(--color-white-base);
}