<div>
    <div class="hs-dropdown absolute end-[100px]">
        <button id="hs-dropdown-profile" class="bg-orange font-revalia text-white base rounded-bl text-4xl px-15 py-5">
            {{ userProfile.u_username }}
        </button>

        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 w-56 hidden z-10 mt-2 min-w-60"
            role="menu" aria-labelledby="hs-dropdown-unstyled">
            <a tabindex="0"
                class="block py-[15px] bg-blue text-white-base text-2xl text-center rounded my-[15px] transition duration-450 hover:bg-white-base hover:text-blue">
                Modifier le profil
            </a>
            <a tabindex="0" (click)="logout()"
                class="block py-[15px] bg-blue text-white-base text-2xl text-center rounded transition duration-450 hover:bg-white-base hover:text-blue">
                Se déconnecter
            </a>
        </div>
    </div>

    <img src="assets/images/{{ userProfile.u_avatar }}" alt="Avatar de {{ userProfile.u_username }}"
        class="absolute end-[-26px] top-[-26px] object-cover rounded-full size-[150px] border-5 border-orange">
</div>