<section id="home" class="home">
    <div style="height:120px;">
        <button class="hidden md:block absolute btn btn-white right-10 -top-2" routerLink="/login">Se connecter</button>
    </div>
    <div class="relative flex w-full border-b border-b-white-base justify-center">
        <h1 class="stroke-blue-dark font-revalia text-4xl text-white-base">Créaquest</h1>
    </div>
    <app-home-mobile class="md:hidden"></app-home-mobile>
    <div class="hidden md:flex banner relative justify-center">
        <div class="text-white-base more-infos w-fit flex flex-col items-center text-base font-bold">
            Plus d'infos
            <button (click)="goToNextSection()">
                <i-lucide class="lucide-ChevronDown" name="ChevronDown" [size]="48"></i-lucide>
            </button>
        </div>
        <!-- Social Networks + Copyright -->
        <app-social-network></app-social-network>
    </div>
</section>

<section id="concept" class="concept hidden md:block relative">
    <img class="conceptImg absolute" src="assets/images/Crea-Dragon-bg.jpg" alt="Fond Concept">
    <div class="conceptBlock absolute">
        <!-- NavBar Latérale -->
        <app-nav-bar [currentIndex]="currentIndex" (navItemClick)="onNavItemClick($event)"></app-nav-bar>

        <!-- Block contenant les informations -->
        <div class="conceptInfos inline-block align-top text-white-base">
            <h2
                class="mt-[50px] h-[43px] ps-[5px] stroke-blue border-b border-b-1 border-b-white-base font-revalia text-[32px]">
                Concept
            </h2>
            <div
                class="conceptDescription w-[450px] my-[25px] me-[25px] float-right bg-white-base rounded p-[5px] text-black text-xs">
                Qui n’a jamais eu un blanc dans son élan créatif ? Ou alors, la difficulté de reprendre l’écriture ou la
                lecture après avoir pris une pause plus ou moins longue ? Ce sont des moments frustrants où, souvent, le
                découragement domine par rapport à la motivation précédente.
                <br><br>
                Tout artiste - <i>écrivain, dessinateur, etc.</i> - sait qu’il est difficile : soit de garder un rythme
                journalier, soit de reprendre l’une ou l’autre activité après une pause plus ou moins longue.
                <b><i>Créaquest</i></b> est là pour vous aider ! C’est un outil pour tout ceux souhaitant éviter ces
                situations de frustration et/ou de découragement.
                <br><br>
                Selon la thématique voulue, vous avez des objectifs - <i>plus ou moins importants</i> - à accomplir. Ce
                sont des tâches différentes qui, selon leur difficulté à être réalisées, vous offriront un certain
                nombre de point d’expérience pour vous permettre de passer les niveaux supérieurs.
                <br><br>
                <i>Au programme ?</i> De l’écriture, du dessin, de la lecture... Mais aussi, et surtout, l’envie de
                progresser et de garder un rythme qui nous convient.
            </div>
            <div class="bonus flex h-[200px] w-4/5 mx-auto">
                <div class="conceptLeft w-4/5 mx-[10px] content-evenly">
                    <h3 class="ms-[40px] text-2xl font-revalia">Bonus ?</h3>
                    <div class="conceptMusic my-[10px]">
                        <i-lucide name="Music" [size]="40" class="text-orange inline-block"></i-lucide>
                        <p class="w-9/12 ms-[10px] inline-block text-xs align-middle">
                            Un lecteur de musique vous propose plusieurs
                            playlists de genres musicaux différents
                        </p>
                    </div>
                    <div class="conceptCounter">
                        <i-lucide name="Clock" [size]="40" class="text-orange inline-block"></i-lucide>
                        <p class="w-9/12 ms-[10px] inline-block text-xs align-middle">
                            Un minuteur, adaptable à votre guise,pour
                            vous permettre de vous concentrer ou de vous
                            détendre.
                        </p>
                    </div>
                </div>
                <img src="assets/images/Crea-BardMusic.jpg" alt="Bonus Image"
                    class="rounded w-2/5 object-cover rounded-[50px] mix-blend-luminosity">
            </div>
        </div>
    </div>
    <!-- Social Networks + Copyright -->
    <app-social-network></app-social-network>
</section>

<section id="community" class="community hidden md:block relative">
    <img class="communityImg absolute" src="assets/images/Crea-Tavern.jpg" alt="Fond Communauté">
    <div class="communityBlock absolute">
        <!-- NavBar Latérale -->
        <app-nav-bar [currentIndex]="currentIndex" (navItemClick)="onNavItemClick($event)"></app-nav-bar>

        <!-- Block contenant les informations -->
        <div class="communityInfos inline-block">
            <h2
                class="mt-[50px] h-[43px] pe-[5px] text-end border-b border-b-1 border-b-black font-revalia text-[32px]">
                Communauté
            </h2>
            <div
                class="communityDescription w-[450px] mt-[100px] ms-[65px] bg-blue-dark rounded p-[15px] text-white-base text-xs">
                Au sein de Créaquest, il y a de nombreux membres venus pour avancer, pour se
                créer leur propre rythme grâce aux objectifs.
                <br><br>
                Mais il y a aussi une communauté qui se partage leurs créations, qui offre des conseils ou crée des
                tutoriels pour expliquer telle ou telle méthode... C’est une zone de partage où la bienveillance et le
                respect d’autrui seront mis en avant.

                <h4 class="ms-[25px] mt-[20px] text-base font-revalia">En bref</h4>
                <div class="communityCrea" class="my-[15px] ms-[40px]">
                    <i-lucide name="SquarePen" [size]="40" class="inline-block text-orange"></i-lucide>
                    <p class="w-9/12 ms-[10px] inline-block text-xs align-middle">
                        Partage de créations : dessins, photos, écrits, etc...
                    </p>
                </div>
                <div class="communityContest" class="my-[15px] ms-[40px]">
                    <i-lucide name="Award" [size]="40" class="inline-block text-orange"></i-lucide>
                    <p class="w-9/12 ms-[10px] inline-block text-xs align-middle">
                        Mise en place de concours amicaux entre membres, créés par les membres ou par l’équipe
                        administrative.
                    </p>
                </div>
                <div class="communityTuto" class="my-[15px] ms-[40px]">
                    <i-lucide name="List" [size]="40" class="inline-block text-orange"></i-lucide>
                    <p class="w-9/12 ms-[10px] inline-block text-xs align-middle">
                        Présence de tutoriels pour apprendre de nouveaux concepts,
                        qu’importe le domain.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Social Networks + Copyright -->
    <app-social-network></app-social-network>
</section>

<section id="contact" class="contact hidden md:block relative">
    <img src="assets/images/Crea-Contact.jpg" alt="Fond Contact" class="contactImg absolute">
    <div class="contactBlock absolute">
        <!-- NavBar Latérale -->
        <app-nav-bar [currentIndex]="currentIndex" (navItemClick)="onNavItemClick($event)"></app-nav-bar>

        <!-- Block contenant les informations -->
        <div class="contactInfos inline-block align-top text-white-base">
            <h2 class="mt-[50px] h-[43px] ps-[5px] border-b border-b-1 border-b-white-base font-revalia text-[32px]">
                Contact
            </h2>
            <form class="w-3/4 mx-auto flex justify-center flex-wrap">
                <div class="contactFormulaire w-full mt-[25px] bg-blue rounded p-[15px] text-white-base text-xs">
                    <label for="formIdentity" class="mt-[10px] font-bold text-base">Prénom Nom</label>
                    <input
                        class="w-full mt-[10px] mb-[15px] px-[15px] py-[10px] text-base text-black rounded-sm border border-1 border-orange bg-white-base"
                        name="formIdentity" id="formIdentity" type="text" placeholder="Entrez votre prénom et votre nom"
                        required>
                    <label for="formMail" class="font-bold text-base">Adresse mail</label>
                    <input
                        class="w-full mt-[10px] mb-[15px] px-[15px] py-[10px] text-base text-black rounded-sm border border-1 border-orange bg-white-base"
                        name="formMail" id="formMail" type="email" placeholder="Entrez votre adresse mail" required>
                    <label for="formObject" class="font-bold text-base">Objet du message</label>
                    <input
                        class="w-full mt-[10px] mb-[15px] px-[15px] py-[10px] text-base text-black rounded-sm border border-1 border-orange bg-white-base"
                        name="formObject" id="formObject" type="text" placeholder="Entrez l'objet de votre message"
                        required>
                    <label for="formMsg" class="font-bold text-base">Contenu du message</label>
                    <textarea
                        class="w-full mt-[10px] mb-[15px] px-[15px] py-[10px] text-base text-black rounded-sm border border-1 border-orange bg-white-base"
                        name="formMsg" id="formMsg" placeholder="Entrez le contenu de votre message"
                        required></textarea>
                </div>
                <button class="btn btn-orange w-11/12 mt-[15px]">Envoyer le message</button>
            </form>
        </div>
    </div>
    <!-- Social Networks + Copyright -->
    <app-social-network></app-social-network>
</section>