<img src="assets/images/Crea-No-Page.jpg" alt="Erreur 404 - Background"
    class="hidden lg:block h-screen w-screen object-cover">
<div class="noPageGradient w-full h-screen absolute top-0 left-0 content-start pt-[50px]">
    <!-- h1 - Créaquest -->
    <app-title-creaquest></app-title-creaquest>

    <!-- Contenu 404 -->
    <div class="flex flex-wrap justify-center w-full lg:w-1/2">
        <h2 class="block w-3/4 font-revalia text-center text-white-base text-[32px] bg-blue-dark rounded p-3">
            Oups ! Il semble que vous ayez égaré votre chemin...
        </h2>
        <div class="w-3/4 md:w-1/2 mt-[50px] flex flex-wrap justify-center">
            <p class="w-full md:w-3/4 p-[15px] border border-1 border-white-base bg-orange text-black rounded">
                Vous êtes parti à l’aventure, mais cette page semble avoir disparu dans les brumes du temps ou alors,
                elle n'a jamais existé. Jamais nous le saurons...
            </p>
            <button class="btn btn-white mt-[25px]" routerLink="{{routeUrl}}">Accueil</button>
        </div>
    </div>

    <!-- Copyright -->
    <app-copyright></app-copyright>
</div>