<a tabindex="0" routerLink="{{routeUrl}}" [ngClass]="{'hidden' : pageHome}">
    <img src="assets/images/Crea-Logo.png" alt="Logo Créaquest" class="absolute z-99 size-[100px] object-cover">
</a>

<div class="absolute flex flex-wrap start-[120px] top-[20px]" [ngClass]="{'hidden' : pageCo}">
    <div class="hs-tooltip [--placement:bottom]">
        <a routerLink="/index" tabindex="0"
            class="hs-tooltip-toggle flex justify-center items-center h-[60px] w-[60px] rounded-full me-[25px] bg-white-base text-blue hover:outline-3 hover:text-white-base hover:bg-blue hover:outline-white-base">
            <i-lucide name="List" [size]="45"></i-lucide>
            <span
                class="tool-index hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 mt-[15px] p-2 text-center bg-blue text-2xl font-revalia text-white-base rounded-md border-3 border-white-base"
                role="tooltip">
                Accueil
            </span>
        </a>
    </div>
    <div class="hs-tooltip [--placement:bottom]">
        <a routerLink="/forum" tabindex="0"
            class="hs-tooltip-toggle flex justify-center items-center h-[60px] w-[60px] rounded-full me-[25px] bg-white-base text-blue hover:outline-3 hover:text-white-base hover:bg-blue hover:outline-white-base">
            <i-lucide name="Users" [size]="45"></i-lucide>
            <span
                class="tool-forum hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 mt-[15px] p-2 text-center bg-blue text-2xl font-revalia text-white-base rounded-md border-3 border-white-base"
                role="tooltip">
                Communauté
            </span>
        </a>
    </div>
</div>