<div class="absolute w-full md:w-fit flex flex-wrap gap-[16px] justify-center top-[88px] md:top-[32px] md:right-[16px]">
    <a routerLink="/administration"
        class="inline-block w-fit rounded-lg p-[8px] md:p-[16px] cursor-pointer font-revalia md:text-lg bg-white-base text-blue hover:outline-3 hover:text-white-base hover:bg-blue hover:outline-white-base">
        Accueil
    </a>
    <a routerLink="/administration/users"
        class="inline-block w-fit rounded-lg p-[8px] md:p-[16px] cursor-pointer font-revalia md:text-lg bg-white-base text-blue hover:outline-3 hover:text-white-base hover:bg-blue hover:outline-white-base">
        Les utilisateurs
    </a>
    <a routerLink="/administration/tasks"
        class="inline-block w-fit rounded-lg p-[8px] md:p-[16px] cursor-pointer font-revalia md:text-lg bg-white-base text-blue hover:outline-3 hover:text-white-base hover:bg-blue hover:outline-white-base">
        Les tâches
    </a>
</div>