<!-- Banner -->
<div class="bannerMobile flex flex-wrap justify-center content-start w-11/12 mt-[50px] mx-auto">
    <img src="assets/images/Crea-MagePixel.png" alt="Logo Accueil" class="size-[100px] object-cover">
    <div class="w-1/2 h-fit flex flex-wrap justify-center content-center ms-[15px] mt-[30px]">
        <button class="btn btn-white" routerLink="/login">Se connecter</button>
        <a routerLink="/register" tabindex="0" class="text-white-base underline text-xs mt-2">
            Vous n'avez pas de compte ?
        </a>
    </div>
    <button class="btn btn-orange mt-[50px]">Nous contacter</button>
    <div class="absolute bottom-0 text-white-base more-infos w-fit flex flex-col items-center text-base font-bold">
        Plus d'infos
        <i-lucide class="lucide-ChevronDown" name="ChevronDown" [size]="48"></i-lucide>
    </div>
</div>

<!-- Section avec les informations -->
<div class="relative w-4/5 mx-auto mt-[50px] mb-[350px]">
    <img src="assets/images/Crea-WarriorPixel.png" alt="Logo Concept Mobile"
        class="absolute w-[95px] h-[105px] top-0 object-cover z-1">
    <div class="relative w-9/10 h-[437px] top-[25px] z-2 ms-[50px]">
        <h2 class="font-revalia text-end text-white-base text-[32px] pe-[25px] leading-none">Concept</h2>
        <p class="p-[15px] rounded-sm bg-blue text-white-base text-xs">
            Qui n’a jamais eu un blanc dans son élan créatif ? Ou alors, la difficulté de reprendre l’écriture ou la
            lecture après avoir pris une pause plus ou moins longue ? Ce sont des moments frustrants où, souvent, le
            découragement domine par rapport à la motivation précédente.
            <br><br>
            Tout artiste - <i>écrivain, dessinateur, etc.</i> - sait qu’il est difficile : soit de garder un rythme
            journalier, soit de reprendre l’une ou l’autre activité après une pause plus ou moins longue.
            <b><i>Créaquest</i></b> est là pour vous aider ! C’est un outil pour tout ceux souhaitant éviter ces
            situations de frustration et/ou de découragement.
            <br><br>
            Selon la thématique voulue, vous avez des objectifs - <i>plus ou moins importants</i> - à accomplir. Ce
            sont des tâches différentes qui, selon leur difficulté à être réalisées, vous offriront un certain
            nombre de point d’expérience pour vous permettre de passer les niveaux supérieurs.
            <br><br>
            <i>Au programme ?</i> De l’écriture, du dessin, de la lecture... Mais aussi, et surtout, l’envie de
            progresser et de garder un rythme qui nous convient.
        </p>
    </div>

    <p class="relative z-2 w-4/5 mt-[150px] p-[15px] rounded-sm bg-black text-white-base text-xs">
        Un lecteur de musique vous propose plusieurs playlists de genres musicaux différents.
        <br><br>
        Un minuteur, adaptable à votre guise, pour vous permettre de vous concentrer ou de vous détendre.
    </p>
    <img src="assets/images/Crea-BardPixel.png" alt="Logo Bonus Mobile"
        class="absolute z-1 w-[80px] h-[95px] top-[550px] right-0 -me-[10px] object-cover">

    <img src="assets/images/Crea-DragonPixel.png" alt="Logo Communauté Mobile"
        class="absolute w-[110px] h-[100px] object-cover top-[750px] -left-[25px]">
    <p class="relative z-2 float-right w-4/5 mt-[95px] p-[15px] rounded-sm bg-blue text-white-base text-xs">
        Au sein de <i><b>Créaquest</b></i>, il y a de nombreux membres venus pour avancer, pour se
        créer leur propre rythme grâce aux objectifs.
        <br><br>
        Mais il y a aussi une communauté qui se partage leurs créations, qui offre des conseils ou crée des tutoriels
        pour expliquer telle ou telle méthode... C’est une zone de partage où la bienveillance et le respect d’autrui
        seront mis en avant.
    </p>
</div>

<!-- Copyright -->
<div class=" fixed bottom-0 right-5 text-white-base text-[10px]">
    Emeline D.R. © 2025
</div>