.socialNetwork {
    transition: 0.2s;
    border: 1px solid var(--color-white-base)
}

.socialNetwork:hover {
    border: 3px solid var(--color-white-base)
}

.socialNetwork:focus-visible {
    outline: none;
    box-shadow: 0 0 0 5px var(--color-white-base);
}