<div class="absolute flex flex-row bottom-5 right-30">
    <button class="socialNetwork rounded-full bg-orange text-black size-[45px] me-2 content-center">
        <i-lucide class="mx-auto" name="Instagram" [size]="32"></i-lucide>
    </button>
    <button class="socialNetwork rounded-full bg-orange text-black size-[45px] mx-2 content-center">
        <i-lucide class="mx-auto" name="Facebook" [size]="32"></i-lucide>
    </button>
    <button class="socialNetwork rounded-full bg-orange text-black size-[45px] ms-2 content-center">
        <i-lucide class="mx-auto" name="Mail" [size]="32"></i-lucide>
    </button>
</div>